In [1]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib as plot
import math
import talib
from sklearn import metrics, linear_model, preprocessing, svm

In [2]:
conn = sqlite3.connect('poloniex_0.1.db')
c = conn.cursor()

In [26]:
df = pd.read_sql_query("SELECT * FROM candles_USDT_BTC", conn)
df = df.drop('id' ,1)
df['start'] = pd.to_datetime(df['start'],unit='s')
df.set_index('start' , inplace = True)
#df.index.dtype
df.head(10)
#print (len(df.index))

,open,high,low,close,vwp,volume,trades
start,,,,,,,
2017-06-11 19:51:00,2923.996734,2932.600000,2923.996734,2925.828930,2929.711168,10.337254,56
2017-06-11 19:52:00,2930.373888,2932.600000,2925.828930,2925.996734,2928.910755,2.599433,21
2017-06-11 19:53:00,2932.600000,2932.944889,2925.996734,2930.000000,2930.652682,7.102010,28
2017-06-11 19:54:00,2932.944889,2935.107505,2923.494110,2923.996834,2930.371417,9.232048,43
2017-06-11 19:55:00,2923.996834,2935.000000,2923.996734,2923.996734,2928.012814,1.390456,22
2017-06-11 19:56:00,2932.835523,2932.835523,2923.996734,2923.996734,2924.764786,3.015836,19
2017-06-11 19:57:00,2923.996735,2930.528568,2923.996735,2930.528568,2924.291140,1.462843,8
2017-06-11 19:58:00,2923.996735,2932.835522,2923.996735,2930.548878,2931.113139,6.586996,23
2017-06-11 19:59:00,2930.548878,2932.835522,2924.416129,2928.274152,2927.959137,0.607046,14
2017-06-11 20:00:00,2924.416129,2932.000000,2924.269885,2924.269885,2926.529191,1.838149,18

In [32]:
def ohlcsum(df):
    #df = df.sort()
    return {
       'open': df['open'][0],
       'high': df['high'].max(),
       'low': df['low'].min(),
       'close': df['close'][-1],
       'volume': df['volume'].sum(),
        'trades' : df['trades'].sum(),
        'vwp': (df['vwp']* df['volume']).sum()/df['volume'].sum()
        
      }

In [33]:
def convertcandles(df, mins):
    s = str(mins) + 'T'
    return( df.resample(s).agg(ohlcsum))
    
    
#convertcandles(df, 120)

In [36]:
newdf = convertcandles(df,1500)

#newdf = df
price = np.array(newdf['vwp'])
sma  = talib.SMA(price,50)
m = talib.MACD(price, 12,30,9)
#m[1][40:60]
newdf.head(20)

,open,high,low,close,vwp,volume,trades
start,,,,,,,
2017-06-11 00:00:00,2923.996734,2955.000000,2910.860498,2949.000000,2932.372822,1668.670489,5898.0
2017-06-12 01:00:00,2949.000000,2965.000000,2300.000000,2559.719402,2603.419382,35978.113214,68526.0
2017-06-13 02:00:00,2555.390753,2750.000000,2513.584962,2711.451735,2647.212595,14860.548961,34309.0
2017-06-14 03:00:00,2716.453213,2724.000000,2273.100000,2404.532584,2479.540032,27734.052840,52471.0
2017-06-15 04:00:00,2400.668112,2410.000000,2012.000000,2357.707391,2237.727440,48124.803592,73209.0
2017-06-16 05:00:00,2358.780570,2477.487035,2318.000000,2450.900000,2405.625530,16821.231711,32835.0
2017-06-17 06:00:00,2450.900000,2640.448566,2442.837353,2579.620777,2571.743205,15849.344899,34829.0
2017-06-18 07:00:00,2579.620777,2596.342156,2408.000000,2559.874076,2505.292175,17210.125967,38283.0
2017-06-19 08:00:00,2559.874076,2620.358887,2481.497824,2586.877844,2563.056191,11304.515353,28890.0
2017-06-20 09:00:00,2587.035878,2785.526574,2563.730000,2671.000000,2691.009773,16248.159887,48331.0
2017-06-21 10:00:00,2671.000000,2726.650983,2541.207944,2640.821601,2632.767009,15010.285603,57890.0
2017-06-22 11:00:00,2640.821601,2714.816571,2628.333333,2681.873917,2676.378690,5988.944886,37196.0
2017-06-23 12:00:00,2681.873917,2720.000000,2651.680000,2659.605451,2684.166875,5001.212423,26443.0
2017-06-24 13:00:00,2658.219982,2659.605451,2431.694469,2583.000000,2530.383618,17936.028890,34816.0
2017-06-25 14:00:00,2583.000000,2586.888864,2358.000000,2382.089583,2441.275408,21139.923980,40333.0
2017-06-26 15:00:00,2385.400000,2463.087588,2168.333000,2291.810345,2321.654748,37210.346632,62042.0
2017-06-27 16:00:00,2292.988930,2517.303914,2237.510965,2457.000000,2425.777102,21207.448475,44686.0
2017-06-28 17:00:00,2457.000000,2560.790000,2398.962229,2528.151742,2487.639427,15010.529291,33042.0
2017-06-29 18:00:00,2528.302472,2530.000000,2441.948554,2500.000000,2482.724525,7920.698631,24922.0
2017-06-30 19:00:00,2500.000000,2502.275284,2290.000000,2337.550000,2395.793659,11714.938648,25340.0